oqc report cantain following tables:
1. Basic Information Table
2. PSU S/N Table
3. Software Version Table
4. Appearance & Structure Inspection Table
5. Input & Output Characteristics Table
6. Basic Function Test Table
7. Protection Function Test Table
8. Package List Table
9. Attachment Table
10. Signature Table